<div class="modal-header">
    <h5 class="modal-title" id="addReadingListItemLabel">Search books</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form method= "POST" action="#">
    {% csrf_token %}
<div class="modal-body search-books-modal-body">
    {{ form.as_p }}
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
</div>
</form>
{% if results %}
<p>Search results: {{ results|length }}</p>
{% endif %}