<!DOCTYPE html>
<div class="mb-1">
    <div class="d-flex justify-content-between align-items-center">
        <h3 id="book-title" class="mb-0">{{ book.title }}</h3>
        <button type="button"
                class="btn btn-primary"
                data-search-url=""
                data-add-reading-list-item-url=""
                data-reading-list-id=""
                id="someBookRatingAction">
        Some Action
        </button>
    </div>
    <h4 id="book-authors" class="text-muted" >{{ book.list_authors }}</h4>
</div>
<div class="table-responsive-md mb-3" style="max-height: 60vh; overflow-y: auto;">
    <table class="table book-ratings-table">
          <colgroup>
            <col style="width: 30%;">
            <col style="width: 10%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
        </colgroup>
        <thead class="table-light sticky-top">
            <th>User</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Rated on</th>
            <th></th>
        </thead>
        <tbody id="book-ratings-list">
            <!-- Items will be added dynamically here -->
            {#  I need to add the striping manually because the hidden commet rows break bootstra table-stripe ordering.  #}
            {% for rating in book_ratings %}
                <tr class="main-row-{% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}">
                <td>{{ rating.user }}</td>
                <td>{{ rating.rating }}</td>
                <td>
                {% if rating.comment %}
                <a data-bs-toggle="collapse" href="#comment-{{ rating.id }}" role="button" aria-expanded="false" aria-controls="comment-{{ rating.id }}">
                Show comment
                </a>
                {% else %}
                <em>No comment</em>
                {% endif %}</td>
                <td>{{ rating.created_at.date }}</td>
                <td>{% if rating.user == user %}
                    <button type="button" class="btn btn-primary">Edit</button>
                    {#  <button type="button" class="btn btn-danger">Delete</button>  #}
                    <a href="{% url 'books:book-rating-delete' rating.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
                </td>
                </tr>
                {% if rating.comment %}
                    <tr class="collapse comment-row" id="comment-{{ rating.id }}">
                    <td colspan="5">
                        <div class="card card-body">
                        {{ rating.comment|linebreaks }}
                        </div>
                    </td>
                    </tr>
                {% endif %}
                {% empty %}
                <tr id="no-ratings" style="display: none;">
                    <td colspan="5" class="text-center">No ratings available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


