<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}Book Ratings{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'books/css/book_rating_list.css' %}">
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'books/js/book_rating_list/static_init.js' %}"></script>
{% endblock %}


{% block content %}
    {% include 'books/partials/book_rating_table.html' with book_ratings=book_ratings %}
</div>

{% endblock %}